.navbar {
    height: 40px;
    background-color: navy; /* background-* properties - please explore, also background shorthand property */
}

.nav, .list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    padding: 5px 10px;
    color: white;
    line-height: 40px;
    text-decoration: none;
}

.nav a:hover {
    color: rgb( 255, 255, 255 );
    background-color: darkgray;
}

.container {
    width: 80%;
    margin: auto;
}

.img-fluid {
    width: 100%;
}

.card {
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 4px;
}

.text-center {
    text-align: center !important; /* set this property to this value at any cost */
}

.my-3 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.row {
    /* this is a flexbox parent element */
    display: flex;
    flex-direction: row; /* arrange children rowwise, i.e. horizontally */ 
    flex-wrap: wrap; /* allow children to wrap to next lines instead of overflowing on 1 line */
    justify-content: space-between; /* extra space on a line is spread between items on the line */
    align-items: stretch; /* stretch each item on a line to occupy entire height of the line */
}

.col {
    flex-basis: 30%; /* like width for flexbox */
    
    /* tis is also made a flexbox parent to have the card stretch to full height using align-items */
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.message {
    display: none;
    padding: 1em 2em;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.message-info {
    border-color: navy;
    background-color: lightblue;
}

.message-error {
    border-color: crimson;
    background-color: lightpink;
}